* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header {
    background-color: #1e4f6e; /* Dark blue background */
  color: white;
  text-align: center;
  padding: 15px;
  font-family: Arial, sans-serif;
}

course-title{
    font-size: 1.3rem;
  font-weight: bold;
  display: block;
}

header span section {
  color: #c4f000; /* Yellow-green for instructor’s name */
  font-weight: bold;
  display: inline;
}

.navigation {
  display: flex;
  justify-content: space-around; /* evenly distribute */
  background-color: #333; /* dark gray */
  padding: 0.75rem 0; /* vertical space inside nav bar */
  margin: 0; /* remove gap outside */
}

.navigation a {
  color: white;
  text-decoration: none;
  font-family: "Trebuchet MS", Arial, sans-serif;
  font-size: 1rem;
}

.navigation a:hover {
  color: #ffeb3b; /* yellow hover effect */
}

/* Main layout */
main {
  display: flex;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
  padding: 1rem;
}

/* Card style */
.card {
  background: white;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  border: 1px solid #ddd;
}

.card h1 {
  background-color: #1d4b6e;
  color: white;
  padding: 0.5rem;
  border-radius: 8px 8px 0 0;
  margin-top: 0;
}

.card img {
  max-width: 150px;
  float: right;
  margin-left: 1rem;
  border-radius: 5px;
}


footer {
  background-color: #1d4b6e; /* dark blue */
  color: white;
  text-align: center;
  padding: 1rem;
  font-family: Arial, sans-serif;
}

footer p {
  margin: 0.3rem;
}

#lastModified {
  color: yellow;
  font-size: 0.9rem;
}